/* For full album  */

#album {
    border-width: 0px;
    border-style:none;
}

#album td {
    border-width: 0px;
    border-style:none;
}

.albumwrapper {
  min-height: 1px; /* Required for IE7 */
  }

.albumwrapper:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
  }

.albumcol {
  display: inline;
  float: left;
  }

img.floatright {
float: right;
padding-left: 30px;
}
